*{
    padding: 0;
    margin: 0

}
body{
    background-color: rgb(207, 202, 202);
}
header {
    font-size: medium;
    text-align: left;
    background-color: blue;
    color: white;
    
}
header > nav a{
    text-align: end;
    color: white;

}

.Bienvenido {
    background-image: url(descarga.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    margin: 1px 1px;
    padding: 50px;
    
    
}
.Bienvenido section{
    background-color:rgb(0, 0, 0,0.6) ;
    text-align: center;
    color: white;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;  
    margin-left: 150px;
}

.Sobre {
    background-color: white;
    padding: 15px;
    margin: 15px;
    

}
.Sobre h2{
    color: blue;
}
.Sobre p{
    color: black;
}
.Servicios{
    background-color: white;
    margin: 15px;
    padding: 15px;
}
.Servicios h2 {
    color: blue;
}
.Servicios p{
    color: black;
}
.Contacto{
    background-color: white;
    margin: 15px;
    padding: 15px;
}
.Contacto h2{
    color: blue;
    
}
.Contacto p{
    color: black;
}
